[user]
        name = Max Niia
        email = max.emil.niia@gmail.com
[credential "https://github.com"]
        username = MaxNiia
        email = muxinatorn@gmail.com
[init]
        templateDir = /home/max/.git-template
        defaultBranch = main
[core]
        excludesfile = /home/max/.gitignore
        editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
        pager = diff-so-fancy | less --tabs=4 -RFX
        fileMode = true

[push]
        autoSetupRemote = true
[pull]
        rebase = true
[fetch]
        prune = true
        pruneTags = true
[rerere]
        enabled = true
[alias]
        st = status
        rb = rebase
        smu = submodule update --recursive --init
        fush = push --force-with-lease
        d = difftool
        m = mergetool

        lg = log --graph --pretty=format:'%C(auto)%h%d %s %C(blue)%C(bold)%cr %C(green)%an'
        lgf = log --graph --all --decorate --oneline --color
        lga = log --graph --all --pretty=format:'%C(auto)%h%d %s %C(blue)%C(bold)%cr %C(green)%an'
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        lgs = log --graph --pretty=format:'%C(auto)%h %C(cyan)%an %C(dim white)- %Creset%s %C(green)(%ar)'

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[merge]
        tool = nvimmerge
[mergetool]
        prompt = true
[mergetool "nvimmerge"]
        cmd = nvim -c "DiffviewOpen  -- %LOCAL% %BASE% %REMOTE%"
[diff]
        tool = nvimdiff
        mnemonicprefix = true  # Helps readability in diffs
        algorithm = histogram
        submodule = log
[difftool]
        prompt = true
[difftool "nvimdiff"]
        cmd = nvim -c "DiffviewOpen  -- %LOCAL% %REMOTE%"

[rebase]
        autosquash = true
        autostash = true
[submodule]
        recurse = true
[status]
        showUntrackedFiles = all
        submoduleSummary = false
[interactive]
        diffFilter = diff-so-fancy --patch
[color]
        ui = true
[commit]
        verbose = true
        status = true
[help]
        autocorrect = prompt
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = 11
        frag = magenta bold
        func = 146 bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[include]
        path = ~/.private/.gitconfig
[includeIf "gitdir:~/workspace/"]
        path = ~/workspace/.gitconfig
