[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "spotify-tui"]
	path = spotify-tui
	url = git@github.com:catppuccin/spotify-tui.git
[submodule "lazygit"]
	path = lazygit
	url = git@github.com:catppuccin/lazygit.git
